<html>

<head>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>


    <link href="https://fonts.cdnfonts.com/css/spongebob-font-condensed" rel="stylesheet">
    <script src="/stats.js" defer></script>
    <link rel="stylesheet" href="/style.css">
    </link>

</head>


<body style="text-align: center;">
    <br>
    <div class="container-md text-center">
        <div class="container-lg" style="background-color: rgba(217, 118, 153, 0.9);color: rgb(147, 8, 8);">
            <br>
            <br>
            <h2>Welcome to the Krusty Krab!</h2>
            <br>
            <br>
            <p>
                Is this <strong>{{uid}}?</strong>
            </p>
            <br>
            <br>
            <div id="stats">

            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <img src="patrick.gif">
</body>

</html>